.orbs{
  padding: 10px;
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 0);
  .orb-wrapper{
    text-align: center;
    cursor: pointer;
    padding: 5px !important;
    .inner-orb{
      border: 0px solid $mid-blue;
      border-radius: 3px;
      padding: 0px;
      transition: all .3s;
      h4{
        @media only screen and (min-width: 1080px) {
          opacity: 0;
        }
        transition: all .2s;
        color: $mid-blue;
      }
      &:hover{
        // background-color: $mid-blue;
        // color: white;
        h4{
          opacity: 1;
        }
        .orb{
          border: 2px solid $mid-blue;
        }
      }
      .orb{
        width: 5.5rem;
        height: 5.5rem;
        display: inline-block;
        border-radius: 400px;
        background-size: cover;
      }
    }
  }
}
.selected{
  border: 2px solid $mid-blue;
}
