.full-wrap{
  width: 100% !important;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
}
.no-padding{
  .small-12{
    padding-left: 0;
    padding-right: 1rem;
  }
}
.pad-sides{
  padding: 0 10%;
}
.pad-sandwich{
  padding: 10px 0;
}
hr{
  border-bottom: 1px solid $light-gray;
}

.row{
  max-width: none;
}

.mobile-hide{
  display: inherit;
}
.mobile-show{
  display: none;
}
@media screen and (max-width: 1080px) {
  .mobile-hide{
    display: none !important;
  }
  .mobile-show{
    display: inherit !important;
  }
}

.quote{
  padding-top: 20px;
}
