<div class="nav fixed-nav">
  <section class="material-design-hamburger">
    <button class="material-design-hamburger__icon">
      <span class="material-design-hamburger__layer"></span>
    </button>
  </section>

  <section class="menu menu--off">
    <div class="wrapper">
      <nav>
        <div><a href="#"><img src="images/monqLogo.png" alt=""></a></div>
        <div><h2><a href="#">About</a></h2></div>
        <div><h2><a href="#">Contact</a></h2></div>
      </nav>
    </div>
  </section>
</div>

<script src="/javascripts/nav.js"></script>
