<div class="orb-wrapper small-4 columns">
  <div class="inner-orb" id="<%= color %>">
      <div class="orb" style="background-image: url( <%= url %> );">
    </div>
    <h4><%= title %></h4>
  </div>
</div>
