<div class="picker-nav large-3 small-12 columns">
  <!-- <% include ../partials/nav %> -->
  <div class="small-12 columns logo-wrapper">
    <a href="#"><img id="logo" src="images/monqLogo.png" alt=""></a>
  </div>
  <div class="small-12 columns">
    <!-- <input type="text" name="search" placeholder="Search.."> -->
    <div class="small-12 columns">
      <h2>Trees</h2>
    </div>
    <div class="orbs">

      <% var title = 'Scotch Pine'; var url = 'images/svgs/vector_ginger.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Black Spruce'; var url = 'images/svgs/vector_lavender.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Mandarin'; var url = 'images/svgs/vector_orange.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cyprus Leaf'; var url = 'images/svgs/vector_sarge.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Douglas Fir'; var url = 'images/svgs/vector_spearmint.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cedarwood'; var url = 'images/svgs/vector_ylang-ylang.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Scotch Pine'; var url = 'images/svgs/vector_ginger.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Black Spruce'; var url = 'images/svgs/vector_lavender.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Mandarin'; var url = 'images/svgs/vector_orange.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cyprus Leaf'; var url = 'images/svgs/vector_sarge.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Douglas Fir'; var url = 'images/svgs/vector_spearmint.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cedarwood'; var url = 'images/svgs/vector_ylang-ylang.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Scotch Pine'; var url = 'images/svgs/vector_ginger.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Black Spruce'; var url = 'images/svgs/vector_lavender.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Mandarin'; var url = 'images/svgs/vector_orange.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cyprus Leaf'; var url = 'images/svgs/vector_sarge.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Douglas Fir'; var url = 'images/svgs/vector_spearmint.svg' %>
      <% include ../partials/orb.ejs %>

    </div>
  </div>
  <div>
    <div class="small-12 columns">
      <h2>Spices</h2>
    </div>

    <div class="orbs">

      <% var title = 'Scotch Pine'; var url = 'images/svgs/vector_ginger.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Black Spruce'; var url = 'images/svgs/vector_lavender.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Mandarin'; var url = 'images/svgs/vector_orange.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cyprus Leaf'; var url = 'images/svgs/vector_sarge.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Douglas Fir'; var url = 'images/svgs/vector_spearmint.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cedarwood'; var url = 'images/svgs/vector_ylang-ylang.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Scotch Pine'; var url = 'images/svgs/vector_ginger.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Black Spruce'; var url = 'images/svgs/vector_lavender.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Mandarin'; var url = 'images/svgs/vector_orange.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cyprus Leaf'; var url = 'images/svgs/vector_sarge.svg' %>
      <% include ../partials/orb.ejs %>

    </div>
  </div>

</div>
