<div class="picker-nav large-3 small-12 columns">
  <!-- <% include ../partials/nav %> -->
  <div class="small-12 columns logo-wrapper">
    <a href="#"><img id="logo" src="images/monqLogo.png" alt=""></a>
  </div>
  <div class="small-12 columns">
    <!-- <input type="text" name="search" placeholder="Search.."> -->
    <div class="small-12 columns">
      <h2>Trees</h2>
    </div>
    <div class="orbs">

      <% var title = 'Black Pepper'; var url = 'images/svgs/color_black_pepper.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cinammon'; var url = 'images/svgs/color_cinammon.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Ginger'; var url = 'images/svgs/color_ginger.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Jasmine'; var url = 'images/svgs/color_jasmine.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lavender'; var url = 'images/svgs/color_lavender.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lemon'; var url = 'images/svgs/color_lemon.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lime'; var url = 'images/svgs/color_lime.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Majoram'; var url = 'images/svgs/color_majoram.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Orange'; var url = 'images/svgs/color_orange.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Sage'; var url = 'images/svgs/color_sage.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Spearming'; var url = 'images/svgs/color_spearmint.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Thyme'; var url = 'images/svgs/color_thyme.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Tumeric'; var url = 'images/svgs/color_tumeric.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Valerian'; var url = 'images/svgs/color_valerian.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Vanilla'; var url = 'images/svgs/color_vanilla.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Ylang Ylang'; var url = 'images/svgs/color_ylang_ylang.svg' %>
      <% include ../partials/orb.ejs %>

    </div>
  </div>
  <div>
    <div class="small-12 columns">
      <h2>Spices</h2>
    </div>

    <div class="orbs">


      <% var title = 'Lime'; var url = 'images/svgs/color_lime.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Orange'; var url = 'images/svgs/color_orange.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Sage'; var url = 'images/svgs/color_sage.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Spearmint'; var url = 'images/svgs/color_spearmint.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Black Pepper'; var url = 'images/svgs/color_black_pepper.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cinammon'; var url = 'images/svgs/color_cinammon.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Ginger'; var url = 'images/svgs/color_ginger.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Jasmine'; var url = 'images/svgs/color_jasmine.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lavender'; var url = 'images/svgs/color_lavender.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lemon'; var url = 'images/svgs/color_lemon.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Thyme'; var url = 'images/svgs/color_thyme.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Valerian'; var url = 'images/svgs/color_valerian.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Vanilla'; var url = 'images/svgs/color_vanilla.svg' %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Ylang Ylang'; var url = 'images/svgs/color_ylang_ylang.svg' %>
      <% include ../partials/orb.ejs %>

    </div>
  </div>

</div>
