<div class="picker-nav large-3 small-12 columns">
  <!-- <% include ../partials/nav %> -->
  <div class="small-12 columns logo-wrapper">
    <a href="#"><img id="logo" src="images/monqLogo.png" alt=""></a>
  </div>
  <div class="small-12 columns">
    <!-- <input type="text" name="search" placeholder="Search.."> -->
    <div class="small-12 columns">
      <h2>Trees</h2>
    </div>
    <div class="orbs">

      <% var title = 'Black Pepper'; var url = 'images/svgs/color_black_pepper.svg'; var color = "697582" %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cinammon'; var url = 'images/svgs/color_cinammon.svg'; var color = "e64a19"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Ginger'; var url = 'images/svgs/color_ginger.svg'; var color = "ffc107"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Jasmine'; var url = 'images/svgs/color_jasmine.svg'; var color = "d1c4e9"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lavender'; var url = 'images/svgs/color_lavender.svg'; var color = "7e57c2"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lemon'; var url = 'images/svgs/color_lemon.svg'; var color = "fbc02d"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lime'; var url = 'images/svgs/color_lime.svg'; var color = "c0ca33"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Majoram'; var url = 'images/svgs/color_majoram.svg'; var color = "7cb342"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Orange'; var url = 'images/svgs/color_orange.svg'; var color = "ff9800"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Sage'; var url = 'images/svgs/color_sage.svg'; var color = "80cbc4"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Spearmint'; var url = 'images/svgs/color_spearmint.svg'; var color = "26c6da"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Thyme'; var url = 'images/svgs/color_thyme.svg'; var color = "4caf50"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Tumeric'; var url = 'images/svgs/color_tumeric.svg'; var color = "f57c00"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Valerian'; var url = 'images/svgs/color_valerian.svg'; var color = "f06292"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Vanilla'; var url = 'images/svgs/color_vanilla.svg'; var color = "ffccbc"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Ylang Ylang'; var url = 'images/svgs/color_ylang_ylang.svg'; var color = "ffea00"  %>
      <% include ../partials/orb.ejs %>

    </div>
  </div>
  <div>
    <div class="small-12 columns">
      <h2>Spices</h2>
    </div>

    <div class="orbs">

      <% var title = 'Black Pepper'; var url = 'images/svgs/color_black_pepper.svg'; var color = "c8cfd6" %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Cinammon'; var url = 'images/svgs/color_cinammon.svg'; var color = "e64a19"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Ginger'; var url = 'images/svgs/color_ginger.svg'; var color = "ffc107"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Jasmine'; var url = 'images/svgs/color_jasmine.svg'; var color = "d1c4e9"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lavender'; var url = 'images/svgs/color_lavender.svg'; var color = "7e57c2"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lemon'; var url = 'images/svgs/color_lemon.svg'; var color = "fbc02d"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Lime'; var url = 'images/svgs/color_lime.svg'; var color = "c0ca33"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Majoram'; var url = 'images/svgs/color_majoram.svg'; var color = "7cb342"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Orange'; var url = 'images/svgs/color_orange.svg'; var color = "ff9800"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Sage'; var url = 'images/svgs/color_sage.svg'; var color = "80cbc4"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Spearmint'; var url = 'images/svgs/color_spearmint.svg'; var color = "26c6da"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Thyme'; var url = 'images/svgs/color_thyme.svg'; var color = "4caf50"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Tumeric'; var url = 'images/svgs/color_tumeric.svg'; var color = "f57c00"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Valerian'; var url = 'images/svgs/color_valerian.svg'; var color = "f06292"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Vanilla'; var url = 'images/svgs/color_vanilla.svg'; var color = "ffccbc"  %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Ylang Ylang'; var url = 'images/svgs/color_ylang_ylang.svg'; var color = "ffea00"  %>
      <% include ../partials/orb.ejs %>

    </div>
  </div>

</div>
