<div class="picker-nav large-3 small-12 columns">
  <div>
    <h2>Trees</h2>
    <% var title = 'Data Passed'; var colors = 'blue'; %>
    <% include ../partials/orb.ejs %>

    <% var title = 'Data Again'; var colors = 'green'; %>
    <% include ../partials/orb.ejs %>

    <% var title = 'Data Again'; var colors = 'red'; %>
    <% include ../partials/orb.ejs %>

    <% var title = 'Data Again'; var colors = 'orange'; %>
    <% include ../partials/orb.ejs %>

    <% var title = 'Data Again'; var colors = 'purple'; %>
    <% include ../partials/orb.ejs %>

    <% var title = 'Data Again'; var colors = 'green'; %>
    <% include ../partials/orb.ejs %>

    <% var title = 'Data Again'; var colors = 'green'; %>
    <% include ../partials/orb.ejs %>

    <% var title = 'Data Again'; var colors = 'red'; %>
    <% include ../partials/orb.ejs %>

    <% var title = 'Data Again'; var colors = 'grey'; %>
    <% include ../partials/orb.ejs %>

    <% var title = 'Data Again'; var colors = 'red'; %>
    <% include ../partials/orb.ejs %>

    <% var title = 'Data Again'; var colors = 'grey'; %>
    <% include ../partials/orb.ejs %>
  </div>
  <div>
    <h2>Spices</h2>
  </div>

</div>
