<div class="picker-nav large-3 small-12 columns">
  <% include ../partials/nav %>

  <div class="small-12 columns">
    <div class="small-12 columns">
      <h2>Trees</h2>
    </div>
    <div class="orbs">

      <% var title = 'Data Passed'; var color1 = '#f06292'; var color2 = '#880e4f'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#ef9a9a'; var color2 = '#c62828'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#bbdefb'; var color2 = '#1976d2'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#80cbc4'; var color2 = '#26a69a'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#f0f4c3'; var color2 = '#afb42b'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#fff9c4'; var color2 = '#ffee58'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#eeeeee'; var color2 = '#9e9e9e'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#f06292'; var color2 = '#880e4f'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#ef9a9a'; var color2 = '#c62828'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#bbdefb'; var color2 = '#1976d2'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#80cbc4'; var color2 = '#26a69a'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#f0f4c3'; var color2 = '#afb42b'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#fff9c4'; var color2 = '#ffee58'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#eeeeee'; var color2 = '#9e9e9e'; %>
      <% include ../partials/orb.ejs %>
    </div>
  </div>
  <div>
    <div class="small-12 columns">
      <h2>Spices</h2>
    </div>

    <div class="orbs">

      <% var title = 'Data Passed'; var color1 = '#f06292'; var color2 = '#880e4f'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#ef9a9a'; var color2 = '#c62828'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#bbdefb'; var color2 = '#1976d2'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#80cbc4'; var color2 = '#26a69a'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#f0f4c3'; var color2 = '#afb42b'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#fff9c4'; var color2 = '#ffee58'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#eeeeee'; var color2 = '#9e9e9e'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#f06292'; var color2 = '#880e4f'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#ef9a9a'; var color2 = '#c62828'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#bbdefb'; var color2 = '#1976d2'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#80cbc4'; var color2 = '#26a69a'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#f0f4c3'; var color2 = '#afb42b'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#fff9c4'; var color2 = '#ffee58'; %>
      <% include ../partials/orb.ejs %>

      <% var title = 'Data Passed'; var color1 = '#eeeeee'; var color2 = '#9e9e9e'; %>
      <% include ../partials/orb.ejs %>
    </div>
  </div>

</div>
