<div class="picker-wave-display-wrapper picker-display-below large-9 small-12 columns" style="-webkit-overflow-scrolling: touch;">
  <div id="wave-wrapper">
    <div id="wave1" class="wave1"></div>
  </div>
  <div class="toggle-button">
    <a class="switch round-button refine-button"><span>Blend</span> <i class="fa fa-flask" aria-hidden="true"></i></a>
  </div>

  <div class="picker-display">
    <div class="small-12 slider-wrapper">
      <div id="sliders" class="small-12">
        <h1>Your Blend</h1>
        <p>Pick your ingredients to make your own blend.</p>
      </div>
      <a href="#" class="light-button">Name It <i class="fa fa-flask" aria-hidden="true"></i></a>
    </div>
  </div>

</div>
