.columns{
  padding: 0;
}
.columns:last-child:not(:first-child){
  float: left;
}
.ui-slider-handle{
  border-radius: 100px !important;
  height: 1.25rem !important;
  width: 1.25rem !important;
  top: -.55rem !important;
  // @include gradient-radial(#880e4f, #ffcc80);
  @include gradient-radial(#c8cfd6, #535f6b);
  border: 2px solid white !important;
  // mix-blend-mode: darken;
}
.ui-slider{
  border-radius: 100px !important;
  border: 2px solid white !important;
  width: 225px;
  display: inline-block;
  margin-top: 16px;
  height: 8px !important;
}
.slider{
  // @include gradient-radial(#880e4f, #ffcc80);
  @include gradient-radial(#c8cfd6, #535f6b);
}
