body,a,h1,h2,h3,h4,h5,h6,li,ul,ol,label,input,select,span {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2{
  display: block;
}
h4{
  font-size: .8rem;
}
