body,a,h1,h2,h3,h4,h5,h6,li,ul,ol,label,input,select,span {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-size: 4.5rem;
  font-weight: 300;
}
h2{
  display: block;
  font-weight: 300;
  font-size: 1.75rem;
}
h4{
  font-size: .8rem;
}

.centered{
  text-align: center;
}
