<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Austin Ban | Nashville based web developer, web designer, and storyteller</title>
    <% include ../partials/head %>
</head>
<div class="full-wrap">
  <body>
    <main>
      <div>
        <% include ../partials/picker-nav %>
        <% include ../partials/picker-display %>
      </div>
    </main>
  </body>
</div>
</html>
