<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MONQ | Build Your Own Mixture</title>
    <% include ../partials/head %>
</head>
<div class="full-wrap">
  <body class="gradient">
    <main>
      <% include ../partials/picker-nav %>
      <% include ../partials/picker-wave-display %>
    </main>
  </body>
</div>
</html>
