<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Austin Ban | Nashville based web developer, web designer, and storyteller</title>
    <% include ../partials/head %>
</head>
<div class="full-wrap">
  <body class="container">
    <main>
      
    </main>
    <% include ../partials/absolute-header %>
  </body>
</div>
</html>
